* {
    box-sizing: border-box;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}



body {
    user-select: none;
    background-color: #2f3132;
    color: black;
    font-family: monospace;
    font-size: small;
    font-weight: bolder;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0px;
    overflow-y: hidden;
}


#chattopnav {
    background-color: #2f3132;
    box-shadow: 0px 0px 100px 35px rgba(0,0,0,1);
    color: white;
    display: flex;
    width: 98%;
    max-width: inherit;
    padding: 5px;
    margin: 0 0 10px 0;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    position: sticky;
    top: 6px;
    border-radius: 5px;
}

.chat-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 500px;
}

.chat-nav-icon {
    width: 35px;
    height: 35px;
}

.chat-nav-left {
    margin-left: 20px;
}

.chat-nav-right {
    margin-right: 20px;
}

#chattopnav > a:hover {
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 9px 0px #3c132d;
}

#chattopnav > a:active {
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 9px 0px #3c132d;

    transform: scale(
        80%
    );
}


#friend-heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}




#seendiv {
    width: 35px;
    height: 35px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#seenimg {
    width: 30px;
    height: 30px;
}



#chatbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 75%;
    padding: 20px;
    width: 100%;
}

.chatbox {
    min-width: 350px;
    max-width: 90%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
}

.chatbox-left {
    justify-content: start;
}

.chatbox-right {
    justify-content: end;
}

.message-div{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    overflow-y: hidden;
    padding: 10px;
    border: solid 5px #2f3132;
    box-shadow: 0px 36px 50px -24px rgba(0,0,0,1);
}

#inbox-message-div {
    background-color: #daa040;
    border-radius: 30px;
}

#outboxform {
    background-color: #eff0ed;
    
    border-radius: 30px 30px 50px 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inbox-text {
    max-width: 100%;
    word-wrap: break-word;
    overflow-y: scroll;
    margin: 0;
}

#outbox-text {

    background-color: #eff0ed;
    color: black;
    width: 95%;
    max-width: 95%;
    height: 100%;
    word-wrap: break-word;
    overflow-y: scroll;
    margin: 0;
    font-size: x-large;
    border: none;
    resize: none;
    font-size: x-large;

}

textarea:focus {
    outline: none;
    border: none;
}

#outbox-text::placeholder {
    color: gray;
}


.profileimage {
    border-radius: 500px;
}
