html{
    height: 100%;
    padding: 0;
    margin: 0;
}



body {
    user-select: none;
    background-color: #e7cb94;
    color: black;
    font-family: monospace;
    font-size: small;
    font-weight: bolder;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    overflow: scroll;
}

#headnav {

    background-color: #84846e;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: inherit;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
    margin-top: 0;
    border-radius: 0px 0px 25px 25px;
    position: sticky;
    top: 0;
}


#usernamecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #84846e;
    box-shadow: 0px 0px 7px -50px rgba(0,0,0,0.1),-86px 84px 77px 0px rgba(0,0,0,0.1),0px 0px 21px -70px rgba(0,0,0,0.1),0px 10px 10px -100px rgba(0,0,0,0.1),0px 0px 5px 0px #000000;
    width: 85%;
    margin: 5px;
    border-radius: 15px;
    padding: 0px 15px 0px 15px;

}

#username {
    align-self: center;
    font-size: large;
}

#dpcontainer {
    width: 150px;
    height: 150px;
    background-color: #5c5c4d;
    border-radius: 500px;
}

#navcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 85vw;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 18px;
}

.navlink {
    text-decoration: none;
    background-color: black;
    padding: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(132,132,110,0.59); 
    box-shadow: 0px 0px 5px 1px rgba(132,132,110,0.59);
}

.navlinkdiv {
    margin-top: 5px;
    margin-bottom: 5px;
}

#addfriendlink {
    color: #84846e;    
}

#accountlink {
    color: #e7cb94;    
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}


#myparagraphsheader {
    margin-top: 80px;
    font-weight: 500;
    font-size: xx-large;
}



.textitem {
    width: 90%;
    background-color: #e7cb94;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px #5c5c4d;
    border-top: solid 2px #5c5c4d;
    margin-top: 2px;
    text-decoration: none;    
    color: #461635;
}

.itemcontainer {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.friendnametime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.friendname {
    font-weight: 500;
    font-size: xx-large;
}

.messagesnip {
    color: #461635;
    font-size: medium;

}
