* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    font-size: small;
    font-weight: bolder;
    background-color: #2f3132;
    color: #e7cb94;
}

#dashboardheader {
    background-color: #2f3132;
    box-shadow: 0px 15px 15px -10px rgba(0,0,0,1);
    border-radius: 6px;
    width: 95%;
    padding: 10px;
    position: sticky;
    top: 6px;
    margin-top: 0;
    text-align: center;
}

#searchcontainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    border: solid black 2px;
    padding: 5px;
    border-radius: 15px;
}

#searchbox {
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 10px;

}

#resultscontainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultitem {
    width: 95%;
    font-size: large;
    text-decoration: none;
    color: #e7cb94;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
    background-color: #84846e;
    border-radius: 20px;
    box-shadow: inset 0px 0px 100px -82px rgba(0,0,0,1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1);
}

.resultitemcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.resultuserimage {
    width: 50px;
    height: 50px;
    border-radius: 500px;
}


#requestscontainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 200px;
}

.requestitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #84846e;
    box-shadow: inset 0px 0px 100px -82px rgba(0,0,0,1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1),inset 0px 0px 15px -3px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
}

.itemcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.itemimage {
    height: 80px;
    width: 80px;
    border-radius: 500px;
}

.itemname {
    width: 50%;
    text-align: center;
}