html{
    height: 100%;
    padding: 0;
    margin: 0;
}



body {
    user-select: none;
    background-color: #ffffff;
    color: black;
    font-family: monospace;
    font-size: small;
    font-weight: bolder;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    margin: 0;
    overflow: scroll;
}

#logo {
    width: 120px;
    height: 120px;
}

#center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-div {
    border-radius: 30px;
    width: fit-content;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  31px 31px 62px #fcfcfc,
                 -31px -31px 62px #ffffff;


    margin-bottom: 30px;
}

#welcome {
    text-decoration: underline;
    font-size: x-large;
}



.form-control-div {
    
    background-color: #a4b275;
    border-style: solid;
    border-color: #A4B275;
    width: 100%;
    max-width: 500px;
    font-weight: bold;
    text-align: center;
    border-width: 3px;
    border-radius: 3px 3px 3px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
}


#loginform {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: khaki;
    width: 70vw;
    max-width: 300px;
    border-radius: 10px;
}


#submitdiv {
    
    background-color: #a4b275;
    border-style: solid;
    border-color: #a4b275;
    margin-top: 1px;
    width: 100%;
    height: 20px;
    font-weight: bolder;
    padding: 5px;
    text-align: center;
    border-width: 3px;
    border-radius: 3px 3px 12px 12px;
    cursor: pointer;
}

#submitdiv:hover {
    transform: scale(98%);
}

#submitdiv:active {
    transform: scale(95%);
}

.form-control {
    width: 90%;
    height: 100%;
    padding: 10px;
    background-color: #A4B275;
    border: solid;
    border-width: 2px;
    border-color: #f0e68c;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

#submitbutton {
    width: 100%;
    background-color: #a4b275;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: solid 5px #84846e;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.81); 
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.81);
}


.formerrordiv {
    color: rgb(170, 9, 9);
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}